*.zip

# vim stuff
*.sw[po]

# mac stuff
.DS_STORE

# LaTeX stuff
*.aux
*.log
*.pdf
*.out
*.pyg

# compiled stuff and cmake generated things
CMakeCache.txt
CMakeFiles/
Makefile
Hello_world_GL
cmake_install.cmake
